body {
    margin: 0;
}

html {
    background-color: lightgray;
}

.App {
    background-color: lightgray;
    ;
}


nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: White;
}

nav li {
    float: left;
}


nav li * {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

.grid-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.hover-size {
    transition: transform .2s;
}

.hover-size:hover {
    transform: scale(1.05);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px;

    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    box-shadow: 0 0 30px black;
}

.center {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px;
}


.title {
    font-size: 30px;
}

.name {
    margin: 0;
}

.clear {
    background-color: transparent !important;
}

.recordCard {
    text-align: center;
    width: 500px;
    height: 310px;
    background-color: lightblue;
    border-radius: 20px;
}

.recordCard h1{
    padding-top: 115px;
}

.btn {
    margin: 10px;
    font-size: 20px;
    border: 0;
    background-color: lightgray;
    padding: 20px;
    border-radius: 20px;
    width: 240px;
}

.inp input{
    height: 70px;
    width: 500px;
    font-size: 30px;
}

.small-btn {
    background-color: lightgray;
    text-align: center;
    border-radius: 10px;
    border: 10;
  
    margin-left: auto;
    margin-right: auto;
}